* {
    box-sizing: border-box;
}

/* Removes margins, padding and unwanted borders */
#stripe { font-size: 0; text-align: center; }
body { background-color: rgb(127, 190, 255); }

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative
}
  
/* topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative
}

.flag {
    font-size: 0.8em;
    position: relative;
    bottom: .1em;
}
  
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

table { border-collapse: collapse; margin: 0; }
tr, td { padding: 0; }

/* Computes dimensions of buttons, icons and text */
.sqr {
    width: calc(20px + .75vw);
    min-width: 30px;

    height: calc(20px + .75vw);
    min-height: 30px;

    display:inline-block;
}
.img {
    font-size: calc(8px + 0.25vw);
    background-color: #d2d2d2;
}

.txt {
    font-size: calc(8pt + 0.5vs);
    background-color: #dddddd;;
    color: black;
}
